[submodule "modules/trips-planner"]
	path = modules/trips-planner
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-trips-planner.git
	branch = develop
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-auth.git
[submodule "modules/logs"]
	path = modules/logs
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-logs.git
