[submodule "modules/trips-planner"]
	path = modules/trips-planner
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-trips-planner.git
	branch = develop
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-auth.git
    branch = develop
[submodule "modules/logs"]
	path = modules/logs
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-logs.git
    branch = develop
[submodule "modules/gateway"]
	path = modules/gateway
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-gateway.git
    branch = develop
[submodule "modules/user"]
	path = modules/user
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-user.git
    branch = develop
[submodule "modules/trips"]
	path = modules/trips
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-trips.git
    branch = develop
[submodule "modules/notifications"]
	path = modules/notifications
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-notifications.git
    branch = develop
[submodule "modules/monitoring"]
	path = modules/monitoring
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-monitoring.git
[submodule "modules/incidents"]
	path = modules/incidents
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-incidents.git
	branch = develop
[submodule "modules/transport-management"]
	path = modules/transport-management
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-transport-management.git
[submodule "frontend/auth"]
	path = frontend/auth
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-auth-frontend.git
	branch = develop
[submodule "frontend/incidents"]
	path = frontend/incidents
	url = git@github.com:UrbanFlow-MNS/UrbanFlow-incidents-frontend.git
	branch = develop
